<nz-modal
  [nzMaskClosable]="false"
  [nzKeyboard]="false"
  [nzTitle]="doc ? '编辑文档' : '新增文档'"
  [(nzVisible)]="isShow"
  (nzAfterOpen)="onAfterOpen()"
  (nzAfterClose)="onAfterClose()"
  (nzOnCancel)="onCancel()"
  [nzOkDisabled]="loading"
  (nzOnOk)="onConfirm()">
  <form nz-form [formGroup]="form">
    <nz-form-item>
      <nz-form-label nzSpan="4" nzRequired>
        文档名称
      </nz-form-label>
      <nz-form-control nzSpan="20">
        <input nz-input  placeHolder="请输入" formControlName="name">
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzSpan="4" nzRequired>
        文档简介
      </nz-form-label>
      <nz-form-control nzSpan="20">
        <textarea placeHolder="请输入" rows="4" nz-input formControlName="desc"></textarea>
      </nz-form-control>
    </nz-form-item>
  </form>
</nz-modal>
