<shared-page-container>
  <app-filter-drawer
    [filterTitle]="'入库列表'"
    [isOpen]="showFilter"
    [filterContent]="filterContent"
    [filterRight]="filterRight"
  >
  </app-filter-drawer>
  <ng-template #filterRight>
    <div nz-row nzType="flex" nzAlign="middle" nzJustify="end" nzGutter="32">
      <div nz-col>
        <button nz-button (click)="showFilter = !showFilter">
          <i nz-icon nzType="filter" nzTheme="outline"></i> 筛选
        </button>
        <button nz-button nzType="primary" (click)="showStoreIn()" class="ml-sm">入库</button>
        <button nz-button nzType="primary" (click)="download()" class="ml-sm">下载excel</button>
      </div>
    </div>
  </ng-template>
  <ng-template g-template #filterContent>
    <div class="table-header">
      <nz-row>
        <nz-form-item>
          <nz-form-label class="table-header-label">关键词</nz-form-label>
          <nz-form-control>
            <nz-input-group>
              <input
                class="table-header-input"
                nz-input
                [(ngModel)]="query.word"
                [ngModelOptions]="{ standalone: true }"
                placeholder="请输入类目名"
                (keyup.enter)="getList(true)"
              />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label class="table-header-label">入库时间</nz-form-label>
          <nz-form-control>
            <nz-range-picker
              [nzRanges]="defaultRanges"
              [(ngModel)]="query.dateRange"
              nzFormat="yyyy-MM-dd"
              [ngModelOptions]="{ standalone: true }"
            ></nz-range-picker>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label class="table-header-label">入库类型</nz-form-label>
          <nz-form-control class="table-header-input">
            <nz-select [(ngModel)]="query.inType" nzAllowClear [ngModelOptions]="{ standalone: true }">
              <nz-option [nzValue]="EStoreIn.Purchase" nzLabel="采购入库"></nz-option>
              <nz-option [nzValue]="EStoreIn.Gift" nzLabel="赠送入库"></nz-option>
              <nz-option [nzValue]="EStoreIn.Surplus" nzLabel="盘盈入库"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
        <nz-col>
          <div class="button-group">
            <button nz-button class="ml-sm" (click)="clear()">重置</button>
            <button nz-button nzType="primary" class="ml-sm" (click)="getList(true)">查询</button>
          </div>
        </nz-col>
      </nz-row>
    </div>
  </ng-template>
  <nz-card>
    <nz-table
      nzShowSizeChanger
      [nzData]="storeList"
      [nzFrontPagination]="false"
      [nzTotal]="page.total"
      [(nzPageSize)]="page.pageSize"
      [(nzPageIndex)]="page.pageIndex"
      (nzPageIndexChange)="getList()"
      (nzPageSizeChange)="getList(true)"
    >
      <thead>
        <tr>
          <th>序号</th>
          <th>类目名</th>
          <th>单价</th>
          <th>入库数量</th>
          <th>入库类型</th>
          <th nzWidth="150px">入库单号</th>
          <th>入库时间</th>
          <!-- <th>操作</th> -->
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of storeList; let index = index">
          <td>{{ (page.pageIndex - 1) * page.pageSize + index + 1 }}</td>
          <td><app-table-tip [width]="150" [text]="data.goods_name"></app-table-tip></td>
          <td>{{ data.price }}</td>
          <td>{{ data.in_num }}</td>
          <td>{{ inTypeMap[data.in_type] }}</td>
          <td>{{ data.in_code }}</td>
          <td>{{ data.in_date }}</td>
          <!-- <td>
            <a (click)="delete(data.id)">删除</a>
          </td> -->
        </tr>
      </tbody>
    </nz-table>
  </nz-card>
</shared-page-container>
