<form-container>
  <main>
    <nz-page-header (nzBack)="onCancel()" nzBackIcon nzTitle="分步表单">
    </nz-page-header>
    <nz-steps [nzCurrent]="current">
      <nz-step nzTitle="基本信息"></nz-step>
      <nz-step nzTitle="审核内容"></nz-step>
      <nz-step nzTitle="审核点规则"></nz-step>
      <nz-step nzTitle="缺失条款信息"></nz-step>
    </nz-steps>
    <div class="center">
      <form nz-form [formGroup]="forms[current]" *ngIf="current === 0">
        <nz-form-item>
          <nz-form-label nzSpan="4" nzRequired>
            文档类型
          </nz-form-label>
          <nz-form-control nzSpan="20">
            <input nz-input  placeHolder="请输入" formControlName="input1">
          </nz-form-control>
        </nz-form-item >
        <nz-form-item>
          <nz-form-label nzSpan="4" nzRequired>
            审核点名称
          </nz-form-label>
          <nz-form-control nzSpan="20">
            <input nz-input  placeHolder="请输入" formControlName="input2">
          </nz-form-control>
        </nz-form-item >
        <nz-form-item>
          <nz-form-label nzSpan="4" nzRequired>
            审核点描述
          </nz-form-label>
          <nz-form-control nzSpan="20">
            <textarea rows="4" nz-input  placeHolder="请输入" formControlName="input3"></textarea>
          </nz-form-control>
        </nz-form-item>
      </form>
      <form nz-form [formGroup]="forms[current]" *ngIf="current === 1">
        <nz-form-item>
          <nz-form-label nzSpan="4" nzRequired>
            姓名
          </nz-form-label>
          <nz-form-control nzSpan="20">
            <input nz-input  placeHolder="请输入" formControlName="input4">
          </nz-form-control>
        </nz-form-item >
      </form>
      <form nz-form [formGroup]="forms[current]" *ngIf="current === 2">
        <nz-form-item>
          <nz-form-label nzSpan="4" nzRequired>
            账户
          </nz-form-label>
          <nz-form-control nzSpan="20">
            <input nz-input  placeHolder="请输入" formControlName="input5">
          </nz-form-control>
        </nz-form-item >
      </form>
      <form nz-form [formGroup]="forms[current]" *ngIf="current === 3">
        <nz-form-item>
          <nz-form-label nzSpan="4" nzRequired>
            地址
          </nz-form-label>
          <nz-form-control nzSpan="20">
            <input nz-input  placeHolder="请输入" formControlName="input6">
          </nz-form-control>
        </nz-form-item >
      </form>
    </div>
  </main>
  <footer style="text-align: right;">
    <nz-space>
      <nz-space-item *ngIf="current > 0">
        <button nz-button (click)="onPre()">上一步</button>
      </nz-space-item>
      <nz-space-item *ngIf="current < 3">
        <button nz-button nzType="primary" (click)="onNext()">下一步</button>
      </nz-space-item>
      <nz-space-item *ngIf="current == 3">
        <button nz-button nzType="primary" (click)="onSubmit()">确认</button>
      </nz-space-item>
    </nz-space>
  </footer>
</form-container>
